html {
    max-width: 70ex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

figure {
    text-align: center;
}

figure img {
    max-width: 100%;
}

.thm, .proof, .problem, .solution {
    padding-left: 1ex;
    border-left: 0.5ex solid lightgray;
}

.thm::before {
    content: '定理';
    font-weight: bold;
}

.proof::before {
    content: '证明';
    font-weight: bold;
}

.problem::before {
    content: '问题';
    font-weight: bold;
}

.solution::before {
    content: '解';
    font-weight: bold;
}

/* .proof::after {
    content: '□';
} */

/* .katex-display { overflow: auto hidden; } */

h1 {
    text-align: center;
}

/* .document > p {
    text-indent: 2ic;
} */
